<mat-toolbar role="navigation" class="mat-elevation-z2">
  TapTab
  <!--span style="flex: 1 1 auto;"></span>
  <button mat-icon-button>
    <mat-icon aria-label="Add person">add</mat-icon>
  </button-->
</mat-toolbar>

<main style="padding-top: 1rem">
  <mat-accordion displayMode="flat" multi="true">
    <mat-expansion-panel *ngFor="let tap of taps">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ tap.name }}</mat-panel-title>
        <mat-panel-description>{{ getTotal(tap) | currency }}</mat-panel-description>
      </mat-expansion-panel-header>
      <div mat-expansion-panel-content>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let item of tap.items">
            {{ item.name }}
            <span style="flex: 1 1 auto;"></span>
            <span class="item-price">{{ item.price | currency }}</span>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="item-sum-container">
          <span style="color: rgba(0,0,0,.54)">TOTAL</span>
          <span style="font-size: 24px">{{ getTotal(tap) | currency }}</span>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</main>

<button mat-fab id="fab-add">
  <mat-icon aria-label="Add person">add</mat-icon>
</button>
