<mat-toolbar id="header" role="navigation" class="mat-elevation-z2" [style.backgroundColor]="showNewTapInput ? '#ffffff' : ''">
  <h1 [style.display]="showNewTapInput ? 'none' : 'flex'">TapTab</h1>
  <form (ngSubmit)="onSubmit()" #newTapForm="ngForm" [style.display]="showNewTapInput ? 'flex' : 'none'">
    <input #newTap #name="ngModel" id="tap-add-input" name="name" type="text" placeholder="New Tap" [(ngModel)]="newTapName">
    <button type="submit" style="display: none">Submit</button>
  </form>
  <button mat-icon-button style="margin-left: auto;" (click)="toggleNewTapInput()">
    <mat-icon aria-label="Add tap" *ngIf="!showNewTapInput">add</mat-icon>
    <mat-icon aria-label="Add tap" *ngIf="showNewTapInput">close</mat-icon>
  </button>
</mat-toolbar>

<main style="padding-top: 1rem">
  <mat-accordion displayMode="flat" multi="true">
    <mat-expansion-panel *ngFor="let tap of taps">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ tap.name }}</mat-panel-title>
        <mat-panel-description>{{ getTotal(tap) | currency }}</mat-panel-description>
      </mat-expansion-panel-header>
      <div mat-expansion-panel-content>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let item of tap.items">
            {{ item.name }}
            <span style="flex: 1 1 auto;"></span>
            <button mat-icon-button color="light" (click)="removeItem(item, tap)">
              <mat-icon>close</mat-icon>
            </button>
            <span class="item-price">{{ item.price | currency }}</span>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="item-sum-container">
          <span style="color: rgba(0,0,0,.54)">TOTAL</span>
          <span style="font-size: 24px">{{ getTotal(tap) | currency }}</span>
        </div>
        <div id="tap-actions">
          <div>
            <button mat-icon-button (click)="deleteTap(tap)">
              <mat-icon aria-label="Remove Tap">delete</mat-icon>
            </button>
          </div>
          <div class="button-row">
            <button mat-raised-button (click)="clearTap(tap)">Reset</button>
            <button mat-raised-button color="primary" (click)="addItem(tap)">Add Item</button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</main>
