/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

#header.mat-toolbar {
  h1 {
    display: flex;
  }

  form {
    display: none;
    flex: 1;
    position: relative;
    padding-right: 16px;
  }

  input {
    flex: 1;
    outline: none;
    border: 0;
    height: 64px;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 24px;
  }
}

mat-accordion .mat-divider {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.item-price {
  font-size: 12px
}

.item-sum-container {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
  line-height: 48px;
}

.button-row {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;

  &.right {
    justify-content: flex-end;
  }

  button {
    margin-left: 8px;
  }
}
